build.mjs
dist
dts-config.js
node_modules
openapitools.json
package-lock.json
package.json
src/helpers.ts
template
tsconfig.json
typescript-axios
typescript-fetch

src/generated-source
src/main/resources/openapi.yaml
build
.gradle